$base-color: #22A699;


body {
    background: white;
    margin: 0;
    padding: 0;
    font-family: var(--font-sen);
}

input  {
  font-family: inherit;
  outline: none;
  border: none;
}
.global-container {
  margin: 1rem auto;
  width: 90% !important;
  height: fit-content;
}

.index-99 {
  z-index: 99;
}

.primary-text {
  color: $base-color;
}
