body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: var(--font-sen);
}

input {
  font-family: inherit;
  outline: none;
  border: none;
}

.global-container {
  margin: 1rem auto;
  width: 90% !important;
  height: -moz-fit-content;
  height: fit-content;
}

.index-99 {
  z-index: 99;
}

.primary-text {
  color: #22A699;
}

.library-screen {
  margin: auto;
  display: block;
  font-size: 1rem;
}
.library-screen .library-content {
  display: flex;
}
.library-screen .library-content .left-filter-col {
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.8rem 1.2rem;
  display: block;
  margin-left: 0.5rem;
  background-color: #F2F0F0;
  border-radius: 20px;
  margin-right: 1rem;
}
.library-screen .library-content .left-filter-col .left-btn {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}
.library-screen .library-content .left-filter-col .dropdown-selector {
  display: block;
}
.library-screen .library-content .left-filter-col .dropdown-selector .year {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.library-screen .library-content .left-filter-col .dropdown-selector .year .multiselect {
  background-color: #e6e0e0;
  width: 130px;
}
.library-screen .library-content .right-col {
  width: 100%;
  height: 100%;
}
.library-screen .library-content .right-col .search-box-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.library-screen .library-content .right-col .search-box-wrapper .input {
  width: 100%;
  margin-right: 1rem;
}
.library-screen .library-content .right-col .search-box-wrapper .search {
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.library-screen .library-content .right-col .search-box-wrapper .cart-icon {
  margin-left: 1rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.library-screen .library-content .right-col .search-box-wrapper .refresh-icon {
  margin-left: 1rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.library-screen .library-content .right-col .skeleton-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
}
.library-screen .library-content .right-col .skeleton-grid .item {
  display: inline-block;
}
.library-screen .library-content .right-col .books-tile {
  background-color: #F2F0F0;
  padding-top: 0.5rem;
  border-radius: 20px;
}
.library-screen .library-content .right-col .books-tile .books-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
}
.library-screen .library-content .right-col .books-tile .pages-count-sec {
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.library-screen .library-content .right-col .books-tile .pages-count-sec button {
  padding: 0.8rem 1rem;
  color: #22A699;
  background-color: white;
  border: 2px solid #22A699;
  margin: 1rem;
}
.library-screen .library-content .right-col .books-tile .pages-count-sec .active {
  background-color: #22A699;
  color: white;
}

@media only screen and (max-width: 900px) {
  .library-screen {
    margin: auto;
    display: block;
    font-size: 1rem;
  }
  .library-screen .library-content {
    display: flex;
  }
  .library-screen .library-content .left-filter-col {
    display: none;
    width: 400px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.8rem 1.2rem;
    margin-left: 0.5rem;
    background-color: #F2F0F0;
    border-radius: 20px;
    margin-right: 1rem;
  }
  .library-screen .library-content .left-filter-col .left-btn {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }
  .library-screen .library-content .left-filter-col .dropdown-selector {
    display: block;
  }
  .library-screen .library-content .left-filter-col .dropdown-selector .year {
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  .library-screen .library-content .left-filter-col .dropdown-selector .year .multiselect {
    background-color: #e6e0e0;
    width: 150px;
  }
  .library-screen .library-content .right-col {
    width: 100%;
    height: 100%;
  }
  .library-screen .library-content .right-col .search-box-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .library-screen .library-content .right-col .search-box-wrapper .input {
    width: 100%;
    margin-right: 1rem;
  }
  .library-screen .library-content .right-col .search-box-wrapper .search {
    margin-left: 0.5rem;
    margin-right: 1rem;
  }
  .library-screen .library-content .right-col .search-box-wrapper .cart-icon {
    margin-left: 1rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .library-screen .library-content .right-col .search-box-wrapper .refresh-icon {
    margin-left: 1rem;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .library-screen .library-content .right-col .skeleton-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
  }
  .library-screen .library-content .right-col .skeleton-grid .item {
    display: inline-block;
  }
  .library-screen .library-content .right-col .books-tile {
    background-color: #F2F0F0;
    padding-top: 0.5rem;
    border-radius: 20px;
  }
  .library-screen .library-content .right-col .books-tile .books-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
  }
  .library-screen .library-content .right-col .books-tile .pages-count-sec {
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
  }
  .library-screen .library-content .right-col .books-tile .pages-count-sec button {
    padding: 0.8rem 1rem;
    color: #22A699;
    background-color: white;
    border: 2px solid #22A699;
    margin: 1rem;
  }
  .library-screen .library-content .right-col .books-tile .pages-count-sec .active {
    background-color: #22A699;
    color: white;
  }
}
@media only screen and (max-width: 580px) {
  .library-screen {
    margin: auto;
    display: block;
    font-size: 1rem;
  }
  .library-screen .library-content {
    display: flex;
  }
  .library-screen .library-content .left-filter-col {
    display: none;
    width: 400px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.8rem 1.2rem;
    margin-left: 0.5rem;
    background-color: #F2F0F0;
    border-radius: 20px;
    margin-right: 1rem;
  }
  .library-screen .library-content .left-filter-col .left-btn {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }
  .library-screen .library-content .left-filter-col .dropdown-selector {
    display: block;
  }
  .library-screen .library-content .left-filter-col .dropdown-selector .year {
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  .library-screen .library-content .left-filter-col .dropdown-selector .year .multiselect {
    background-color: #e6e0e0;
    width: 120px;
  }
  .library-screen .library-content .right-col {
    width: 100%;
    height: 100%;
  }
  .library-screen .library-content .right-col .search-box-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .library-screen .library-content .right-col .search-box-wrapper .input {
    width: 100%;
    margin-right: 1rem;
  }
  .library-screen .library-content .right-col .search-box-wrapper .search {
    margin-left: 0.5rem;
    margin-right: 1rem;
  }
  .library-screen .library-content .right-col .search-box-wrapper .cart-icon {
    margin-left: 1rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .library-screen .library-content .right-col .search-box-wrapper .refresh-icon {
    margin-left: 1rem;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .library-screen .library-content .right-col .skeleton-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
  }
  .library-screen .library-content .right-col .skeleton-grid .item {
    display: inline-block;
  }
  .library-screen .library-content .right-col .books-tile {
    background-color: #F2F0F0;
    padding-top: 0.5rem;
    border-radius: 20px;
  }
  .library-screen .library-content .right-col .books-tile .books-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
  }
  .library-screen .library-content .right-col .books-tile .pages-count-sec {
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
  }
  .library-screen .library-content .right-col .books-tile .pages-count-sec button {
    padding: 0.6rem 0.8rem;
    color: #22A699;
    background-color: white;
    font-size: 0.6rem;
    border: 2px solid #22A699;
    border-radius: 10px;
    margin: 0.8rem;
  }
  .library-screen .library-content .right-col .books-tile .pages-count-sec .active {
    background-color: #22A699;
    color: white;
  }
}/*# sourceMappingURL=LibraryScreen.component.css.map */