@import '../../globalStyles/globalStyles.scss';

button {
  width: fit-content;
  height: fit-content;
  background-color: $base-color;
  color: #ffffff;
  font-family: inherit;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: .7rem;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
    border: 2px solid $base-color;
    color: $base-color;
  }
}