.product-tile {
    width: fit-content;
    display: block;
    text-align: center;
    cursor: pointer;
    // margin:1rem 1rem;
   .image {
     width: 150px;
     height: 200px;
   }
   h4 {
    width: 220px;
     font-size: 1rem;
   } 
}