.product-tile {
    width: fit-content;
    display: block;
    text-align: center;
    cursor: pointer;
    // margin:1rem 1rem;
   .image {
     width: 150px;
     height: 200px;
   }
   h4 {
    width: 220px;
     font-size: 1rem;
   } 
}

@media only screen and (max-width: 720px) {
  .product-tile {
    width: fit-content;
    display: block;
    text-align: left;
    cursor: pointer;
    margin-left: 0;
   .image {
     width: 120px;
     height: 170px;
   }
   h4 {
    width: 180px;
    font-size: .8rem;
   } 
}

}

@media only screen and (max-width: 490px) {
  .product-tile {
    width: fit-content;
    display: block;
    text-align: left;
    cursor: pointer;
    margin-left: 0;
   .image {
     width: 90px;
     height: 130px;
   }
   h4 {
    width: 150px;
    font-size: .7rem;
   } 
}

}