.navbar {
    display: flex;

    .navbar-list {
        display: flex;

        li {
            text-decoration: none;
            list-style-type: none;
            margin-right: 2rem;
        }
    }
}