.desktop-header {
   width :100%;
   height: fit-content;
   display: flex;
   position: relative;
   justify-content: space-between;
   align-items: center;
   box-sizing: border-box;
//    background:rgba(208, 208, 208, 0.528);
   border-radius: 20px;
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px);;
   padding: .5rem 2rem;
   
   .mobile-nav {
     display: none;
     position: absolute;
     z-index: 990;

     @keyframes slide-dow {
      from {
        // top:-500px;
        opacity: 0;
      } to {
        // top: 0;
        opacity: 1;
      }
    }
   }

   .header-logo{
     width: 100px;
     height: fit-content;
   }

   .navbar-items{

   }

   .right-col-items {
    display: flex;
    justify-content: center;
    align-items: center;
    .icons {
        margin-left: 2rem;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .cart {
        width: 38px;
        height: 38px;
    }
    .menu {
      display: none;
       width: 45px;
       height: 45px;
    }
   }
}

@media only screen and (max-width: 800px) {
  .desktop-header {
    width :95%;
    height: fit-content;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
 //    background:rgba(208, 208, 208, 0.528);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);;
    padding: .5rem 2rem;
    
    .mobile-nav {
      display: block;
      width: 90%;
      height: fit-content;
      background-color: rgb(41, 41, 41);
      z-index: 99999;
      margin-right: 2rem;
      top:-500px;
      // animation:  slide-dow .5s ease forwards;;
      // opacity: 1;

      @keyframes slide-dow {
        from {
          top:-500px;
          // opacity: 0;
        } to {
          top: 0;
          // opacity: 1;
        }
      }

      @keyframes up {
        from {
          top:0;
          // opacity: 0;
        } to {
          top:-500px;
          // opacity: 1;
        }
      }

      .content {
        margin: 3rem;
        display:block;
        position: relative;

        .nav-items {
          margin-top: 3rem;
          position: relative;
        }


      .close {
        position: absolute;
        top: 0rem;
        right: 2rem;
        width: 50px;
        height: 3px;
        background-color: white;
        border-radius: 20px;
      }

      }

    }
    .header-logo{
      width: 100px;
      height: fit-content;
    }
 
    .navbar-items{
      display: none;
    }
 
    .right-col-items {
     display: flex;
     justify-content: center;
     align-items: center;
     .icons {
         margin-left: 2rem;
         width: 30px;
         height: 30px;
         cursor: pointer;
         display: none;
     }
     .cart {
         width: 38px;
         height: 38px;
     }

     .menu {
      display: flex;
     }

    }
 }
}